<%= render 'utilities/title', title: @template.name  %>

<p>
    <%= @template.body %>
</p>
<p>
    <%= @template.keys %>
</p>
<p>
    <%= @template.vue.inspect %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
