<%= render 'utilities/title', title: @document.name  %>



<br>

<chips-show
  inline-template
  :tenons="<%= @document.content.to_json %>"
  :mortises="<%= @template.keys.to_json %>"
  ><div><%= @template.vue.html_safe %></div></chips-show>

<chips-data :content="<%= @document.content.to_json %>"></chips-data>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
