<%= render 'utilities/title', title: @document.name  %>


<%= @document.content  %>
<br>

<chips-show
  inline-template
  :tenons="<%= @document.tenons.to_json %>"
  ><div><%= @template.vue_show %></div></chips-show>

<chips-data :content="<%= @document.content.to_json %>"></chips-data>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
