<%= render 'utilities/title', title: @document.name  %>


<% @document = @document.decorate  %>

<chips-show
  inline-template
  :content="<%= @document.content %>"
  :properties="<%= @document.properties %>"
  ><div><%= @template.vue_show %></div></chips-show>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
