<%= render 'utilities/title', title: @document.name  %>


<% @document = @document.decorate  %>


<div class='py-3'>

  <chips-show
    inline-template
    :content="<%= @document.content %>"
    :properties="<%= @document.properties %>"
    ><div><%= @template.vue_show %></div></chips-show>


</div>
<div class='py-3'>

  <%= link_to 'Edit', edit_document_path(@document), class: "py-1 my-10 text-gray-500 bold"%> |
  <%= link_to 'Back', documents_path, class: "py-1 my-10 text-gray-500 bold" %>

</div>
