<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body class="app">
    <%= render 'layouts/login'%>
    <div class="flex flex-row w-screen h-screen p-0 m-0">
      <div class="flex m-0 flex-col p-4 border-r-2 bg-gray-900 border-gray-800 h-full">
        <%= render 'layouts/side'%>
      </div>
      <div class="flex w-full bg-gray-800 m-0 flex-col p-4">
        <%= yield %>
      </div>
    <div>
    <%= render 'layouts/notifications'%>
  </body>
</html>
